.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;
  justify-content: center;
}

.app__smol {
  background-color: #ffffff;
  color: #333333;
}

.app__big {
  background-color: #333333;
  color: #ffffff;
}
